<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

     <title>Konutlar- Misir Haberleri</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom styles for this template -->
    <link href="css/modern-business.css" rel="stylesheet">
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <script type="text/javascript" src="js/angular.js"></script>

  </head>

  <body >
  <div ng-app="homeApp" ng-controller="homeController">

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index.html">MisirHaberleri</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Anasyfa</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">Hakkımızda</a>
            </li>
                <li class="nav-item">
              <a class="nav-link" href="contact.html">iletişim</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="haberler.html">Haberler</a>
            </li>
        
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                turizim
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                <a class="dropdown-item" href="portfolio-1-col.html">konutlar</a>
                <a class="dropdown-item" href="portfolio-2-col.html">yerler</a>
                <a class="dropdown-item" href="portfolio-3-col.html">hoteler</a>
              </div>
            </li>
            <span ng-if="girisliDegil">
              <a href="giris.html" class="btn btn-success"><i class="fa fa-sign-in"></i>giris</a>
              <a href="kayit.html" class="btn btn-info"><i class="fa fa-pencil"></i> kayıt ol</a>
            </span>
            <span ng-if="girisli">
              <a  class="btn btn-danger" ng-click="cikisYap()" ><i class="fa fa-sign-out"></i>Cikis Yap</a>
            </span>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Portfolio 1
        <small>Subheading</small>
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">Portfolio 1</li>
      </ol>

      <!-- Project One -->
      <div class="row" ng-repeat="haber in news" style="margin-bottom: 25px; border: #eee solid ; border-radius: 25px;" >
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" style='width:700px; height:300px;' src="{{haber.image}}" alt="">
          </a>
        <div style="margin-left: 25px">
          <h3>{{haber.title}}</h3>
          <p>{{haber.about}}</p>
          <a class="btn btn-primary" href="details.html">View Haber
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
      <!-- /.row -->

      <!-- Pagination -->
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
